<h1 class="text-7xl text-center my-10 text-teal-600">Starter with angular 19 and no zone.js</h1>
<h1 class="text-7xl text-center my-10 text-amber-800">Tailwind works</h1>

<mat-grid-list cols="3" rowHeight="2:1" gutterSize="20">
  <mat-grid-tile class="text-7xl border-4 border-teal-700 bg-[#dd0031] text-white"> Angular</mat-grid-tile>
  <mat-grid-tile class="text-7xl border-4 border-teal-700 bg-[#c3002f] text-white"> Material</mat-grid-tile>
  <mat-grid-tile class="text-7xl border-4 border-teal-700 bg-[#b3002d] text-white"> Works</mat-grid-tile>
  <mat-grid-tile class="text-7xl border-4 border-teal-700 bg-[#a3002b] text-white"> Successfully</mat-grid-tile>
</mat-grid-list>
